<component name="libraryTable">
  <library name="springframework.boot.spring.starter.webflux" type="repository">
    <properties maven-id="org.springframework.boot:spring-boot-starter-webflux:3.3.3" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-boot-starter-webflux-3.3.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-boot-starter-3.3.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-boot-3.3.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-context-6.1.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-aop-6.1.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-expression-6.1.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-boot-autoconfigure-3.3.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-boot-starter-logging-3.3.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/logback-classic-1.5.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/logback-core-1.5.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/slf4j-api-2.0.15.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/log4j-to-slf4j-2.23.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/log4j-api-2.23.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/jul-to-slf4j-2.0.16.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/jakarta.annotation-api-2.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-core-6.1.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-jcl-6.1.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/snakeyaml-2.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-boot-starter-json-3.3.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/jackson-databind-2.17.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/jackson-annotations-2.17.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/jackson-core-2.17.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/jackson-datatype-jdk8-2.17.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/jackson-datatype-jsr310-2.17.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/jackson-module-parameter-names-2.17.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-boot-starter-reactor-netty-3.3.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/reactor-netty-http-1.1.22.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-codec-http-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-common-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-buffer-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-transport-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-codec-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-handler-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-codec-http2-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-resolver-dns-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-resolver-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-codec-dns-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-resolver-dns-native-macos-4.1.112.Final-osx-x86_64.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-resolver-dns-classes-macos-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-transport-native-epoll-4.1.112.Final-linux-x86_64.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-transport-native-unix-common-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-transport-classes-epoll-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/reactor-netty-core-1.1.22.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-handler-proxy-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/netty-codec-socks-4.1.112.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-web-6.1.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-beans-6.1.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/micrometer-observation-1.12.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/micrometer-commons-1.12.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/spring-webflux-6.1.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/reactor-core-3.6.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../externaljars/reactive-streams-1.0.4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>